<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.abouelfarah.messenger">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/name_app"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".messages.ChatLog"
                    android:parentActivityName=".messages.LastMessageActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".messages.LastMessageActivity"/>
        </activity>
        <activity
                android:name=".messages.NewMessage"
                android:parentActivityName=".messages.LastMessageActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".messages.LastMessageActivity"/>
        </activity>
        <activity android:name=".messages.LastMessageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".registerLogin.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".registerLogin.LoginActivity">
        </activity>
    </application>

</manifest>